.project-tile {
    width: 100%;
   
    /* padding: 0 0 0 16px; */
    
}


.project-tile img {
    /* border-radius: 12px; */
    width: 100%;
}

.project-tile img:hover {
    /* border-radius: 36px; */
    transform: scale(1.05);
}

.project-tile__name {
    margin: 8px 0;
}

.project-tile h2:hover  {
    text-decoration: underline;
}

.project-tile__tags p {
    font-weight: 800;
    margin: 16px 0 0 0;
}
