.project-tile {
    width: 100%;
    padding: 16px;
}

.project-tile img {
    border-radius: 16px;
    width: 100%;
    
}

.project-tile__name {
    margin: 16px 0;
}

.project-tile__tags p {
    font-weight: 800;
    margin: 16px 0 0 0;
}
