.article-Head {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    gap: 4rem;
}
.article-Head h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}

.article-Head p {
    margin: 1rem 0;
    
}

.articleHead__description {
    width: 50%;
    text-align: left;
}

.articleHead__image {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
}

.articleHead__image p {
    font-size: 12px;
    color: #7a7a7a;
    margin: 0;
    text-align: left;
    
}