.portfolio__footer {
    background-color: #052c54;
    overflow-x: hidden;
    overflow-x: clip !important;
}
.portfolio__footer ul {
    list-style-type: none; /* Remove bullets */
     /* Remove padding */
     /* Remove margins */
     text-align: left;
}
ul li {
    margin-bottom: .5rem;

}

.portfolio__footer-content {
    color: #ffffff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* text-transform: capitalize; */

    margin: 0 1rem;
    cursor: pointer;
    display: flex;
    text-align: center;

  
    
}

.portfolio__footer-right {
    float:right;
}

.portfolio__footer-credits {
    float: right;
}


.portfolio__footer-credits p {
    width: 33%;
    text-align: left;
    color:#ffffff9f;
    float: right;
    
    
    
}

.portfolio__footer-credits a {
    color: #ffffff;
 

}
.portfolio__footer-logos {
    float: right;
    margin-right: 222px;
    margin-top: 8px;
}
.portfolio__footer-logos img {
    width: 32px;
    margin: 8px;
  
    
}

.copyright {
    text-align: center;
    color:#ffffff;
}


