.portfolio__footer {
    background-color: #052c54;
    overflow-x: hidden;
    overflow-x: clip !important;
}
.portfolio__footer ul {
    list-style-type: none; /* Remove bullets */
     /* Remove padding */
     /* Remove margins */
}
ul li {
    margin-bottom: .5rem;

}

.portfolio__footer-content {
    color: #ffffff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* text-transform: capitalize; */

    margin: 0 1rem;
    cursor: pointer;
    
    display: flex;
    
}

.portfolio__footer-credits p {
    float: right;
    width: 33%;
    text-align: left;
    height: 100%;
    
    
    color:#ffffff9f;
}

.portfolio__footer-credits a {
    color: #ffffff;

}

.copyright {
    text-align: center;
    color:#ffffff;
}


