.employment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    gap: 4rem;
} 

.title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 54px;
    line-height: 75px;
    letter-spacing: -0.04rem;
}
.employment__description {
    margin: 1rem 0 0;
}


.employment__name {
    width: 50%;
    text-align: left;
}
.employment__name h1{
    vertical-align: top;
}

.employment__team-container {
    width: 50%;
    vertical-align: middle;
    
}

.width50 {
    width: 50%;

}
@media screen and (max-width: 1200px) {
    .employment {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}

