.copy-email {
    width: 185.75px;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    margin:0;
    color: var(--color-p);
    font-size: 16px;
    cursor: pointer;
}

.copy-email:hover {
    text-decoration: underline;
}
