.article-right h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 1rem;
    
}
.article-right p {
    margin: 1rem 1rem;
}

.article-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    
}

.articleR__image {
    width: 50%;
}

.articleR__description {
    width: 50%;
    vertical-align: baseline;
    
}