.portfolio__project-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 36px;
    
}

.flex-item {
    flex: 1 1 calc(25% - 8px);
    /* align-items: center; */
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
    .portfolio__project-layout {
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {}
