.about__header {
    display: flex;
}
.about__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    
}

.about__header-image {
    flex: 1;
    display:  flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 5rem; */
    /* text-align: right; */
    
    
}

.about__header-image img {
    max-width: 80%;
    height: auto;
    
    
}

.about__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04rem;
}

.about__header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    
    color: var(--color-text);
    margin-top: 1.5rem;
}

.about__landing-button {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.about__landing-button button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.about__employment img {
    object-fit: none;
}

.about__employment {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
}

.about__education {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.about__education-header {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
}

.about__education-text {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
    .about__header {
        flex-direction: column-reverse;
    }
    .about__header-image img {
        width:37%;
    }
}
@media screen and (max-width: 768px) {
    .about__header-image img {
        width:50%;
    }
    .about__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .about__education {
        flex-direction: column;
    }

}
@media screen and (max-width: 480px) {
    .about__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

}