.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.col {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.grid div {
    border-radius: 16px;
}

.deltaDemo {
    display: flex;
    flex-direction: column;
    padding: 27px;
    background-color: #DCC8E1;
    width: 666px;
}

.deltaDemo img {
    align-items: center;
}

.museumBirdCards {
    display: flex;
    flex-direction: column;
    padding: 27px;
    background-color: #FFCA7D;
    width: 325px;
}

.gallery {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  

    gap: 1rem;
}
.gallery p {
    font-size: 12px;
    color: #4e4e4e;
}

.deltaBanner {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.deltaBanner img {
    height: 428px;
}

.posters {
    display:flex;
    justify-content: space-between;
    gap: 1rem;
}

.posters img {
    height: 400;
}
.birds {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.birdTop {
    display: flex;
    flex-direction: row;
    /* justify-content:space-between; */
    align-items: center;
    gap: 20px;
}

.birdBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.birdBottom img {
    width: 243px;
    height: 174px;
    border-style: solid;
    border-width: .5px;
    border-color:#e3e3e3;
}

.birdCards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.birdCards img {
    /* width: 243px;
    height: 174px; */
    border-style: solid;
    border-width: .5px;
    border-color:#e3e3e3;
}

.birdsPoster img {
    height: 741px;
}
.animation {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
}

.animation img {
    border-style: solid;
    border-width: .5px;
    border-color:#e3e3e3;
    height: 496px;
}